body {
  background-color: #242423;
  color: #fafafa;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.app {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 50px;
  color: #1b2e5d;
}

.covid {
  color: #eb5064;
}

.heroText {
  width: 700px;
  margin-left: 200px;
}
.heroText h4 {
  line-height: 10px;
}

.heroImg {
  width: 700px;
  margin-left: auto;
}

.heroImg img {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quickFacts {
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.quickFacts .title {
  border-right: 1px solid #fafafa;
  padding: 0 10px;
}
.quickFacts .stats {
  display: flex;
}

.stat {
  margin: 0 10px;
  text-align: center;
}
.stat * {
  line-height: 0.5;
}
.confirmed .count {
  color: #66dd9b;
}

.deceased .count {
  color: #eb5064;
}

.recovered .count {
  color: #479be2;
}
.subMain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.awareness {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-left: 20px;
}

.card {
  margin: 5px;
}

.card,
li {
  color: #242423;
}

hr {
  width: 80vw;
  border-color: #fafafa;
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.faq ul {
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .awareness {
    padding-left: 0;
    margin: 0 10px;
  }
}
